@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@plugin "@tailwindcss/typography";

* {
  box-sizing: border-box;
}
@theme {
  --font-sans: "Poppins", sans-serif;
  --color-primary: #1F2226;
  --color-secondary: #f8f8f8;
  --color-accent: #D96725;
  --color-accent-hover: #D95323;
  --color-primary-lighter: #2C3540;
  --color-dark: #0D0D0D;
}

@utility gradient-dark {
  background: linear-gradient(
    to right,
    var(--color-dark) 0%,
    #6b7280 50%,
    var(--color-dark) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility gradient-light {
  background: linear-gradient(
    to right,
    #9ca3af 0%,
    var(--color-secondary) 50%,
    #9ca3af 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

html {
  @apply scroll-smooth;
}

body {
    background-color: #f8f8f8;
    margin: 0 auto;
    overflow-x: hidden;
}