@import "tailwindcss";
@plugin "@tailwindcss/typography";

* {
  box-sizing: border-box;
}
@theme {
  --font-sans: "Poppins", sans-serif;
  --color-primary: #4B4B4B;
  --color-secondary: #E7E7E7;
  --color-accent: #D95323
}

html {
  @apply scroll-smooth;
}

body {
    background-color: #F2F2F2;
    margin: 0 auto;
    overflow-x: hidden;
}