@import "tailwindcss";
@plugin "@tailwindcss/typography";

* {
  box-sizing: border-box;
}
@theme {
  --font-sans: "Poppins", sans-serif;
  --color-primary: #181a17;
  --color-secondary: #FBFBFE;
}

html {
  @apply scroll-smooth;
}

body {
    background-color: #F2F2F2;
    margin: 0 auto;
    overflow-x: hidden;
}