@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@plugin "@tailwindcss/typography";

* {
  box-sizing: border-box;
}
@theme {
  --font-sans: "Poppins", sans-serif;
  --color-primary: #1F2226;
  --color-secondary: #f8f8f8;
  --color-accent: #D96725;
  --color-accent-hover: #D95323;
  --color-primary-lighter: #2C3540;
  --color-dark: #0D0D0D;
}

html {
  @apply scroll-smooth;
}

body {
    background-color: #f8f8f8;
    margin: 0 auto;
    overflow-x: hidden;
}