---
import { cva, type VariantProps } from "class-variance-authority";

const buttonStyles = cva(
  `
    px-5 py-2.5
    text-[25px]
    rounded-[5px]
    text-center
    cursor-pointer
    self-start
    transition-colors
    duration-500
    ease
    border-2
  `,
  {
    variants: {
      variant: {
        default: `
          bg-accent
          border-accent
          text-secondary
          hover:bg-accent-hover
          hover:border-accent-hover
        `,
        outlined: `
          bg-transparent
          border-secondary
          text-secondary
          hover:bg-accent
          hover:border-accent
        `,
      },
    },
    defaultVariants: {
      variant: "default",
    },
  },
);
export interface Props extends VariantProps<typeof buttonStyles> {
  text: string;
  href: string;
}

const { text, href, variant } = Astro.props as Props;
---

<a href={href} class={buttonStyles({ variant })}>
  {text}
</a>
