---
const { text, class: className = "" } = Astro.props;

const paragraphs = Array.isArray(text) ? text : [text];
---

<div class={`text-lg md:text-2xl leading-tight ${className}`}>
  {paragraphs.map((paragraph) => (
    <p class="mb-3 last:mb-0">
      {paragraph}
    </p>
  ))}
</div>