---
import { HERO } from "../content/hero";
import Typewriter from "astro-typewriter";
---

<section id={HERO.id}>
    <div
        class="relative h-[100vh] flex items-center justify-center bg-[linear-gradient(180deg,rgba(38,40,52,1)_30%,rgba(0,0,0,1)_100%)]"
    >
        <div id="particles-js" class="absolute inset-0 z-0"></div>
        <div>
            <h1
                class="text-9xl font-medium text-center leading-tight tracking-tight bg-gradient-to-b from-[#E7E7E7] to-[#4B4B4B] bg-clip-text text-transparent"
            >
                {HERO.h1}
            </h1>
            <h2
                class="text-5xl text-center
         bg-gradient-to-b from-[#E7E7E7] to-[#4B4B4B]
         bg-clip-text text-transparent"
            >
                <Typewriter messages={HERO.h2} class="tw" />
            </h2>
        </div>
    </div>
</section>
<style>
    .tw::part(typewriter)::after {
        color: #4b4b4b;
    }
</style>
<script
    is:inline
    src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"
></script>
<script client:load>
    window.particlesJS?.("particles-js", {
        particles: {
            number: { value: 80, density: { enable: true, value_area: 800 } },
            color: { value: "#E7E7E7" },
            shape: { type: "circle" },
            opacity: { value: 0.25 },
            size: { value: 2 },
            move: { enable: true, speed: 0.4, out_mode: "out" },
            line_linked: {
                enable: true,
                distance: 160,
                color: "#E7E7E7",
                opacity: 0.15,
                width: 1,
            },
        },
        interactivity: {
            events: { onhover: { enable: true, mode: "repulse" } },
            modes: {
                repulse: {
                    distance: 150,
                    duration: 0.2,
                },
            },
        },
        retina_detect: true,
    });
</script>
