---
import { HERO } from "../content/hero";
---

<section id={HERO.id} class="max-w-7xl mx-auto md:px-12">
    <div class="">
    <h1 class="pt-20 text-secondary">
        lalalalalall Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quo, corporis maiores rem impedit explicabo fuga aliquid dicta maxime
        odit tempore officia error et autem omnis repudiandae accusamus
        exercitationem libero nobis!
    </h1>
    </div>

</section>
