---
import type { NavData } from "../content/menuItems";
import { resolveHref } from "../lib/resolveHref";

const { nav } = Astro.props as { nav: NavData };
---

<div
    id="mobile-menu"
    class="fixed top-15 left-0 w-full flex flex-col items-center bg-primary px-6 gap-4 lg:hidden z-60 overflow-hidden max-h-0 transition-all duration-300 ease-in-out"
>
    {
        nav.menu.map((item) => (
            <a
                href={resolveHref(item.href)}
                class="text-secondary block py-1 text-xl font-medium"
            >
                {item.label}
            </a>
        ))
    }

    {
        nav.cta && (
            <a
                href={resolveHref(nav.cta.href)}
                class="text-secondary block py-1 text-xl font-medium"
            >
                {nav.cta.label}
            </a>
        )
    }
</div>
