---
import { MENU, CTA } from "../content/menuItems";
---

<div
    id="mobile-menu"
    class="fixed top-15 left-0 w-full flex flex-col items-center bg-primary px-6 gap-4 md:hidden z-60 overflow-hidden max-h-0 transition-all duration-300 ease-in-out"
>
    {
        MENU.map((item) => (
            <a
                href={item.href}
                class="text-secondary block py-1 text-xl font-medium"
            >
                {item.label}
            </a>
        ))
    }

    <a href={CTA.href} class="text-secondary block py-1 text-xl font-medium">
        {CTA.label}
    </a>
</div>
