---
import Logo from "../assets/icons/Codify-logo-ciemne.svg";
import Button from "./Button.astro";
import BurgerButton from "./BurgerButton.astro";
import { MENU, CTA } from "../content/menuItems";
---

<div
    id="main-menu"
    class="fixed top-0 left-0 w-full h-[60px] md:h-[90px]
         bg-white md:bg-black/30 backdrop-blur-0 md:backdrop-blur-xl
         z-50 flex text-center"
>
    <div
        class="w-full max-w-screen-2xl mx-auto px-5 flex items-center justify-between gap-5"
    >
        <a
            href="#home"
            class="text-black md:text-secondary hover:text-accent transform hover:rotate-44 transition-all duration-500 ease-out"
            aria-label="Go to home"
        >
            <Logo fill="currentColor" class="w-11 h-11 md:w-15 md:h-15" />
        </a>

        <div class="hidden md:flex md:gap-7 md:ml-5 md:items-center">
            {
                MENU.map((item) => (
                    <a
                        href={item.href}
                        class="text-secondary text-xl font-medium hover:text-accent transition-colors duration-500 ease"
                    >
                        {item.label}
                    </a>
                ))
            }
        </div>

        <div class="hidden md:block">
            <Button text={CTA.label} href={CTA.href} variant="outlined" />
        </div>

        <BurgerButton />
    </div>
</div>
