---
type Props = {
    ariaLabel?: string;
    direction: "prev" | "next";
};

const { ariaLabel, direction } = Astro.props as Props;

const isPrev = direction === "prev";

const swiperClass = isPrev ? "portfolio-prev" : "portfolio-next";
const sideClass = isPrev ? "left-2 md:left-6" : "right-2 md:right-6";
const finalLabel = ariaLabel ?? (isPrev ? "Previous slide" : "Next slide");
---

<button
    class={`${swiperClass} flex items-center justify-center absolute ${sideClass} top-1/2 -translate-y-1/2 z-20 w-10 h-10 md:w-14 md:h-14 border border-transparent rounded-lg hover:border-secondary bg-dark/30 backdrop-blur-md hover:bg-dark/50 transition duration-500 ease`}
    aria-label={finalLabel}
    type="button"
>
    <slot />
</button>
